.fluid-span-1 {
  width: 10.575%;
}

.fluid-span-2 {
  width: 23.35%;
}

.fluid-span-3 {
  width: 36.125%;
}

.fluid-span-4 {
  width: 48.9%;
}

.fluid-span-5 {
  width: 61.675%;
}

.fluid-span-6 {
  width: 74.45%;
}

.fluid-span-7 {
  width: 87.225%;
}

.fluid-span-8 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 12.775%;
}

.fluid-offset-2 {
  margin-left: 25.55%;
}

.fluid-offset-3 {
  margin-left: 38.325%;
}

.fluid-offset-4 {
  margin-left: 51.1%;
}

.fluid-offset-5 {
  margin-left: 63.875%;
}

.fluid-offset-6 {
  margin-left: 76.65%;
}

.fluid-offset-7 {
  margin-left: 89.425%;
}

